body{
    background-color: #fffbf7;
}
h1{
    color: #025157;
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 150px;
}
p{
    color: #8b8b8bcc;
    text-align: center;
    font-family: verdana;
}
form{
text-align: center;
}
input{
font-size: 20px;
height: 50px;
border-radius: 10px;
width: 250px;
}
button{
background-color: #025157;
color: #fff;
border-radius: 12px;
font-size: 20px;
height: 50px;
}
.header {
    /* margenes externos */
  /*  margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;*/
/*   top  r  b  1  */
    margin: 40px 20px 40px 20px ;
    /* margenes internos */
   /* padding-top:50px ;
    padding-left: 40PX;
    padding-right: 40PX;
    padding-bottom: 50px;*/
    /*   top  r  b  1  */
/* padding: 50px 40px 40px 50px; */

    /* margenes internos */
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    vertical-align: middle;
}

li{
    display: inline;
}   
 
.logo {
    width: 15%;
  
}

.logo > img {
    width: 15%;
  }
  
.navbar {
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 500;
  }
  
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }
